# Rust / Cargo
/target/
**/target/

# Node / npm / Vite / React
node_modules/
/dist/
**/dist/
/dist-ssr/
**/dist-ssr/
*.local

# Tauri
/apps/gui/ui/src-tauri/gen/schemas/
**/src-tauri/gen/schemas/

# Environment & local configurations
.env
.env.local
.env.*.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor files
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
